<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo編集</title>
</head>
<body>
<h1>Todo編集</h1>

<div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>

<form th:action="@{/todos/update/{id}(id=${todoId})}" th:object="${todoForm}" method="post">
    <div>
        <label>タイトル</label><br>
        <input type="text" th:field="*{title}">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
    </div>

    <div>
        <label>内容</label><br>
        <textarea th:field="*{content}" rows="6" cols="50"></textarea>
    </div>

    <button type="submit">更新</button>
</form>

<p><a th:href="@{/todos}">一覧へ戻る</a></p>
</body>
</html>
